* {
  box-sizing: border-box;
  margin: 0px;
}
a:link {
  text-decoration: none;
}
.hero {
  background-image: url(https://d26zli431xw93h.cloudfront.net/hero-banners/_1500x600_crop_center-center_none/Homepage-Banner-Image-2.jpg?mtime=20190214104734);
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroWrapper {
  position: absolute;
  text-align: center;
  top: 26%;
  width: 80%;
}
.heroText {
  color: white;
  font-family: "Libre Baskerville", serif;
  padding: 1rem;
  font-weight: 00;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}
.heroButton {
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  background: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: #d18316;
  border-radius: 2px;
  margin: 0.75rem;
  padding: 16px 32px;
  min-width: 12.5rem;
  transition: background 0.3s, color 0.3s;
  transition-property: background, color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}
.heroButton:hover {
  background-color: #d18316;
}
.heroLinks {
  margin: 2rem;
}
.companiesBar {
  background: #eaebec;
  /* padding: 0.5rem 0; */
  height: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}
.companiesWrapper {
  width: 80vw;
  height: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.companiesLogo {
  position: relative;
  height: 100px;
  width: auto;
  /* margin: 20px; */
}
#anthem {
  height: 60px;
  opacity: 75%;
}
#lids {
  opacity: 75%;
}
#pacers {
  opacity: 70%;
}
.greyIcon {
  filter: grayscale(100%);
  max-height: 100%;
  max-width: 100%;
  padding: 1rem;
}
.callout {
  text-align: center;
  display: flex;
  justify-content: center;
}
.calloutTextWrapper {
  padding: 5rem;
  width: 75vw;
}
.calloutText {
  font-family: "Libre Baskerville", serif;
  font-size: 40px;
  color: #333c46;
}
.featuredPrimary {
  /* padding: 1.5rem 1.25rem 2rem; */
  position: relative;
  background-image: url(https://d26zli431xw93h.cloudfront.net/hero-banners/_2000x600_crop_center-center_none/IUH_Hero_edit022118.jpg?mtime=20180629154521);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 50%;
  z-index: 0;
  height: 90vh;
}
.darken {
  width: 100%;
  height: 100%;
  background-color: rgba(78, 78, 78, 0.5);
}

.featuredWrapper {
  padding: 13rem 0;
  /* display: flex; */
  align-content: center;
  justify-content: left;
  width: 40vw;
  margin-left: 15%;
}
.featuredHeading {
  margin: 0.5rem 0 0.75rem;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  line-height: 1.875rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}
.featuredTitle {
  margin: 0.5rem 0 0 0;
  color: white;
  font-size: 2rem;
  line-height: 1.875rem;
  font-family: "Libre Baskerville", serif;
}
.featuredText {
  color: white;
  padding: 2rem 0;
  font-size: 1rem;
  line-height: 1.875rem;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 1px;
  /* margin-bottom: 1.5rem; */
  width: 90%;
  justify-content: left;
}
.featuredViewProject {
  color: white;
  font-size: 1.5rem;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 1px;
  justify-content: left;
}
.break {
  position: relative;
  width: auto;
  color: #36475a;
  background: #eaebec;
  text-align: center;
  padding: 3rem;
  transition: background 0.3s, color 0.3s;
  transition-property: background, color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}
.break:hover {
  background-color: #d18316;
  color: #fff;
}
.seeMore {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.servicesWrapper {
  padding: 3rem;
  display: flex;
  justify-content: center;
}
.servicesHeading {
  color: #36475a;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: 3px;
  width: 60vw;
  text-align: center;
  padding-bottom: 3rem;
}
.serviceIntro {
  text-transform: uppercase;
}
.serviceh3 {
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.875rem;
  margin: 0.5rem 0 1rem;
}
.serviceP {
  font-family: "Roboto", sans-serif;

  font-weight: 300;
  font-size: 1.85rem;
  line-height: 1.75rem;
  margin: 0;
  letter-spacing: normal;
  text-transform: none;
}
.column1 {
  padding: 3rem 0 0 0;
  display: flex;
  height: auto;

  align-content: center;
  justify-content: center;
}
.cl1 {
  position: relative;
  padding: 1rem;
  height: auto;
  margin: 2rem;
}
.icon {
  position: absolute;
  margin-top: -10px;
  align-self: center;
  background-image: url(https://webstockreview.net/images/morning-clipart-video-5.png);
  background-size: contain;
  background-color: #fff;
  box-shadow: 0 0 50px #07c;
  z-index: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.icon2 {
  position: absolute;
  margin-top: -10px;
  align-self: center;
  background-image: url(https://www.pinclipart.com/picdir/big/404-4040968_speech-bubble-png-images-transparent-free-download-thought.png);
  background-color: #fff;
  background-size: contain;
  box-shadow: 0 0 50px #d18316;
  background-repeat: no-repeat;
  background-position-y: center;
  z-index: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.icon3 {
  position: absolute;
  margin-top: -10px;
  align-self: center;
  background-image: url(https://lh3.googleusercontent.com/proxy/vu1le6VS1EE4aph3I07ZHpIIJaj9rUxOB3DZxcAT2NH7xTb3pZOCo6ukJpsXNYGXo8yncSJb9nuY0LEc7GuLAylMn4Ww8Ahf);
  background-color: #fff;
  box-shadow: 0 0 50px #07c;
  background-size: contain;
  z-index: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.img1 {
  box-shadow: 0 0 25px 4px rgba(1, 1, 1, 0.15);
  position: relative;
  height: 80%;
  width: auto;
}
.cr1 {
  position: relative;
  justify-content: left;
  width: 25%;
  padding-top: 4rem;
  vertical-align: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  margin: 0 2rem 0 2rem;
  letter-spacing: normal;
  text-transform: none;
}
.column2 {
  padding: 3rem 0 0 0;
  display: flex;
  height: auto;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
}
.buttonGreen {
  background: #a8ae38;
  border: 3px solid #a8ae38;
  color: #fff;
  transition: background 0.3s, color 0.3s;
  transition-property: background, color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 2px;
  margin: 0.75rem;
  padding: 16px 32px;
  min-width: 12.5rem;
  cursor: pointer;
}
.buttonGreen:hover {
  color: #a8ae38;
  background-color: #fff;
}
.buttonBlue {
  background: #7396aa;
  border: 3px solid #7396aa;
  color: #fff;
  transition: background 0.3s, color 0.3s;
  transition-property: background, color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 2px;
  margin: 0.75rem;
  padding: 16px 32px;
  min-width: 12.5rem;
  cursor: pointer;
}
.buttonBlue:hover {
  color: #7396aa;
  background-color: #fff;
}
